<nav style="background:#195131; padding:10px; color:white; display:flex; justify-content:space-between; align-items:center;">
    <div>
        <a href="/">
            <img src="/images/logo.png" alt="Kerala Logo" style="height:50px; margin-left: 15px;">
        </a>
      
    </div>
  
    <div>
      <% if (session && session.user) { %>
        <span style="margin-right: 15px;">Welcome, <%= session.user.username %>!</span>
        <a href="/logout" style="color:white; background:#c62828; padding:6px 12px; border-radius:4px; text-decoration:none;">Logout</a>
      <% } else { %>
        <a href="/login" style="color:white; margin-right: 10px;">Login</a>
        <a href="/register" style="color:white;">Register</a>
      <% } %>
    </div>
  </nav>